<div class="gs_blog_single ">
    <div class="max-w-screen-xl items-center justify-between mx-auto p-4">

        <!-- main blog -->
        <div class="grid grid-2 grid-flow-col gap-4">
            <div class="col-span-2 p-5 rounded-md text-gray-200">
                <h1 class="text-3xl text-gray-50 font-semibold">Australia v India Second Test: Expert Predictions &
                    Analysis</h1>
                <div class="flex flex-wrap items-center gap-2 text-xs my-4 text-gray-400">
                    <img src="/assets/img/avatar-3.jpg" alt="Wolfenstein" class="rounded-full" width="35"> by
                    <span class="text-primary font-semibold">Admin</span>
                    in Jul 23, 2018
                    <div class="feature-img">
                        <img src="/assets/img/fa81b9538f.jpeg" class="w-full rounded" alt="">
                    </div>
                </div>

                <!-- content -->
                <div class="content-block-component ">
                    <h2><span><strong>India v Australia predictions:&nbsp;</strong></span></h2>
                    <ul>
                        <li><span><strong>Australia to win - <a
                                        href="/in/22bet/betting/play-now#listid=_&amp;listtype=_&amp;listlocation=_&amp;listversion=_&amp;list_position=_&amp;ct=cta&amp;ctalocation=pagetext&amp;source=cta&amp;cta_hash=9449a8a5-7840-4db7-950a-f036d29ede41&amp;list_hash=_&amp;item_id=_&amp;cta_id=17496c59-fc70-49f0-bbd1-bfee85ced686&amp;pageview_id=499df707-fcf8-4a19-b28d-543c4ccc06b2"
                                        class="gtm-content-play-now exit-page-link gtm-content-play-now" target="_blank"
                                        rel="nofollow" aria-label="1.83 &#64;22Bet Sports"
                                        data-kt="cta:a|ctalocation|operator|product|offer|brand_id|brand_product_id|offer_id|site_offer_id"
                                        data-ctalocation="pagetext_22bet" data-operator="22bet"
                                        data-product="22bet Sports"
                                        data-offer="<em>100%</em> Sports Welcome Bonus up to <em>₹11,000</em>"
                                        data-brand_id="1379" data-brand_product_id="1926" data-offer_id="18303"
                                        data-site_offer_id="37946" data-gtm="pagetext 22bet"
                                        data-cta_hash="9449a8a5-7840-4db7-950a-f036d29ede41"
                                        data-cta_id="17496c59-fc70-49f0-bbd1-bfee85ced686" data-rendered="1">1.83
                                        &#64;22Bet Sports</a></strong></span></li>
                        <li><span><strong>Mitchell Starc over 4.5 match wickets - <a
                                        href="/in/22bet/betting/play-now#listid=_&amp;listtype=_&amp;listlocation=_&amp;listversion=_&amp;list_position=_&amp;ct=cta&amp;ctalocation=pagetext&amp;source=cta&amp;cta_hash=f35c5584-f9de-462c-99cb-3a3177543b5d&amp;list_hash=_&amp;item_id=_&amp;cta_id=0399d037-b0d7-4730-a40d-8f698e957802&amp;pageview_id=499df707-fcf8-4a19-b28d-543c4ccc06b2"
                                        class="gtm-content-play-now exit-page-link gtm-content-play-now" target="_blank"
                                        rel="nofollow" aria-label="2.00 &#64;22Bet Sports"
                                        data-kt="cta:a|ctalocation|operator|product|offer|brand_id|brand_product_id|offer_id|site_offer_id"
                                        data-ctalocation="pagetext_22bet" data-operator="22bet"
                                        data-product="22bet Sports"
                                        data-offer="<em>100%</em> Sports Welcome Bonus up to <em>₹11,000</em>"
                                        data-brand_id="1379" data-brand_product_id="1926" data-offer_id="18303"
                                        data-site_offer_id="37946" data-gtm="pagetext 22bet"
                                        data-cta_hash="f35c5584-f9de-462c-99cb-3a3177543b5d"
                                        data-cta_id="0399d037-b0d7-4730-a40d-8f698e957802" data-rendered="1">2.00
                                        &#64;22Bet Sports</a></strong></span></li>
                        <li><span><strong>Shubman Gill under 62.5 match runs - <a
                                        href="/in/22bet/betting/play-now#listid=_&amp;listtype=_&amp;listlocation=_&amp;listversion=_&amp;list_position=_&amp;ct=cta&amp;ctalocation=pagetext&amp;source=cta&amp;cta_hash=9f442f63-648f-4a6c-af75-3a95f69a5f59&amp;list_hash=_&amp;item_id=_&amp;cta_id=3524a515-4245-4588-b98f-5f9f90c1675d&amp;pageview_id=499df707-fcf8-4a19-b28d-543c4ccc06b2"
                                        class="gtm-content-play-now exit-page-link gtm-content-play-now" target="_blank"
                                        rel="nofollow" aria-label="1.83 &#64;22Bet Sports"
                                        data-kt="cta:a|ctalocation|operator|product|offer|brand_id|brand_product_id|offer_id|site_offer_id"
                                        data-ctalocation="pagetext_22bet" data-operator="22bet"
                                        data-product="22bet Sports"
                                        data-offer="<em>100%</em> Sports Welcome Bonus up to <em>₹11,000</em>"
                                        data-brand_id="1379" data-brand_product_id="1926" data-offer_id="18303"
                                        data-site_offer_id="37946" data-gtm="pagetext 22bet"
                                        data-cta_hash="9f442f63-648f-4a6c-af75-3a95f69a5f59"
                                        data-cta_id="3524a515-4245-4588-b98f-5f9f90c1675d" data-rendered="1">1.83
                                        &#64;22Bet Sports</a></strong></span></li>
                    </ul>
                    <p><span><strong>When</strong>: Friday 6 December, 3:00pm AEDT (Australia) / 9:30am IST
                            (India)</span></p>
                    <p><span><strong>Where</strong>: Adelaide Oval, Adelaide</span></p>
                    <p><span><strong>Watch</strong>: Seven Network/7Plus, Fox Cricket/Kayo Sports (Australia) / Star
                            Sports, Disney+ Hotstar (India)</span></p>
                    <p><span><strong>Best Odds</strong>: Australia 1.83, India 2.30, Draw 12.00</span></p>
                    <p><span>Despite the humiliation of a history making 3-0 loss at home to New Zealand, India appeared
                            to be much better for the match practice when they blew away an undercooked Australia side
                            that had not played Test cricket for nearly nine months.</span></p>
                    <p><span>Just as they did in their two previous Test tours, in which they were triumphant on both
                            occasions, India were undermanned and had been written off the moment they stepped onto
                            Australian soil.&nbsp;</span></p>
                    <p><span><a href="/in/betting-sites/cricket"
                                class="gtm-content-internal-links gtm-content-internal-links" target="_self"
                                aria-label="Cricket betting sites ">Cricket betting sites </a>have shifted the odds
                            significantly following India’s third-biggest winning margin (by runs) in their travelling
                            history, though the difficulty is expected to be dialled up in a day-night pink ball Test,
                            which the Australians have dominated for years.&nbsp;</span></p>
                    <p><span>We’re expecting the host nation to have taken their Perth beating as a wake-up call after a
                            poor preparation and that they’ll use their years of pink ball experience at home to get
                            their campaign up and running belatedly.&nbsp;</span></p>
                    <h2><span><strong>The Numbers That Matter</strong></span></h2>
                    <ul>
                        <li><span>Australia’s all-time batting average in pink ball Adelaide Tests is 40.29</span></li>
                        <li><span>Marnus Labuschagne scored 50+ in half of his 14 pink ball innings</span></li>
                        <li><span>Jasprit Bumrah averages 14.50 with the pink ball</span></li>
                        <li><span>Steve Smith has one half-century (91*) from 12 innings in 2024</span></li>
                    </ul>



                    
                    <!-- match intro -->
                    <div class="flex items-center bg-secondary rounded-md p-4 text-gray-50 border-b mb-5 gap-3">
                        <div class="basis-1/3">
                            <img src="/assets/img/web2.png" alt="">
                        </div>
                        <div class="basis-1/2">
                            <div class="inner_div ">
                                <p class="font-semibold text-xl uppercase"><span class="text-primary">200% </span>Welcome
                                    Bonus up </p>
                                <ul class="features mt-3">
                                    <li class="text-sm mb-1"><i class="fa-solid fa-circle-check text-primary mr-2 "></i>
                                        Refreshingly Simple Mobile First Casino</li>
                                    <li class="text-sm mb-1"><i class="fa-solid fa-circle-check text-primary mr-2 "></i>
                                        Tournaments & Prizes</li>
                                    <li class="text-sm mb-1"><i class="fa-solid fa-circle-check text-primary mr-2 "></i>
                                        Weekly Live Casino Reload Bonus</li>
                                </ul>
                            </div>
                        </div>
                        <div class="basis-1/3 text-center">
                            <a  href="/" class="primary-btn px-10 py-3 text-sm uppercase font-semibold rounded-md bg-button ">Visit
                                Website</a>
                           
                        </div>
                    </div>

                    <br>
                    <h2><strong>1-1 heading to Brisbane</strong></h2>
                    <p>India appear likely to disturb a winning formula and potentially even their opening partnership with the return of captain Rohit Sharma and number three Shubman Gill, who both face the tough task of starting a Test series against the pink ball. </p>
                    <p>Despite the well documented advantage that comes with batting first in a pink ball Test, allowing a team to score quickly on a fresh pitch before then having a bowl in the evening, Australia have constructed a formidable record in spite of the toss more often than not going against them. </p>
                    <p>Their 11 wins from 12 home day-night Tests, which saw their winning streak come to an end at the hands of Shamar Joseph in Brisbane last season, comes despite losing the coin toss on seven occasions. </p>





                </div>

                <hr class="my-10">
                <!-- related post -->
                <div class="section-title mb-5">
                    <h5 class="mt-10 text-secondary  text-xl font-bold uppercase"><span class="text-primary">Related </span>Posts</h5>
                </div>

                <div class="grid grid-cols-3 gap-4 related-blog">
                    <div>
                        <img src="/assets/img/rela1.jpeg" class="w-full rounded-sm" alt="">
                        <div class="blog-body">
                            <h4 class="font-semibold mb-2 mt-2">India v New Zealand Second Test: Expert Predictions & Analysis</h4>
                            <p class="text-sm text-gray-400">
                                Get expert predictions and analysis for the India vs New Zealand 2nd Test...</p>
                        </div>
                    </div>
                    <div>
                        <img src="/assets/img/rela1.jpeg" class="w-full rounded-sm" alt="">
                        <div class="blog-body">
                            <h4 class="font-semibold mb-2 mt-2">India v New Zealand Second Test: Expert Predictions & Analysis</h4>
                            <p class="text-sm text-gray-400">
                                Get expert predictions and analysis for the India vs New Zealand 2nd Test...</p>
                        </div>
                    </div>
                    <div>
                        <img src="/assets/img/rela1.jpeg" class="w-full rounded-sm" alt="">
                        <div class="blog-body">
                            <h4 class="font-semibold mb-2 mt-2 link" routerLink="australia-v-india-second-test-expert-predictions-and-analysis">India v New Zealand Second Test: Expert Predictions & Analysis</h4>
                            <p class="text-sm text-gray-400">
                                Get expert predictions and analysis for the India vs New Zealand 2nd Test...</p>
                        </div>
                    </div>

                </div>

            </div>
            <div class="row-span-3 p-3 sidebar">
                <!-- Top 3 recent -->
                <div class="bg-secondary rounded-md mt-5">
                    <div class="section-title mb-5">
                        <h5 class="pt-5 pl-3 text-secondary  text-lg font-bold uppercase"><span
                                class="before"></span><span><span class="text-primary">Top 3</span> Recents</span> <span
                                class="after"></span></h5>
                    </div>

                    <div class="top_3_recent">
                        <div class="flex gap-5 p-4">
                            <div class="basis-1/3">
                                <img src="/assets/img/post-1-sm.jpg" class="rounded-md" alt="">
                            </div>
                            <div class="basis-1/2">
                                <a href="#" class="text-gray-50 font-bold text-md uppercase pr-2">Smell magic in the
                                    air. Or maybe barbecue</a>
                                <p class="text-xs mt-4 text-gray-400 font-semibold"> <i
                                        class="fa-solid fa-calendar-days"></i> Sep 18, 2018</p>
                            </div>
                        </div>

                        <!-- two -->
                        <div class="flex gap-5 p-4">
                            <div class="basis-1/3">
                                <img src="/assets/img/post-2-sm.jpg" class="rounded-md" alt="">
                            </div>
                            <div class="basis-1/2">
                                <a href="#" class="text-gray-50 font-bold text-md uppercase pr-2">Grab your sword and
                                    fight the Horde</a>
                                <p class="text-xs mt-4 text-gray-400 font-semibold"> <i
                                        class="fa-solid fa-calendar-days"></i> Sep 18, 2018</p>
                            </div>
                        </div>

                        <!-- three -->
                        <div class="flex gap-5 p-4">
                            <div class="basis-1/3">
                                <img src="/assets/img/post-3-sm.jpg" class="rounded-md" alt="">
                            </div>
                            <div class="basis-1/2">
                                <a href="#" class="text-gray-50 font-bold text-md uppercase pr-2">We found a witch! May
                                    we burn her?</a>
                                <p class="text-xs mt-4 text-gray-400 font-semibold"> <i
                                        class="fa-solid fa-calendar-days"></i> Sep 18, 2018</p>
                            </div>
                        </div>


                    </div>

                </div>

                 <!-- match intro -->
                 <div class="text-center sticky_top bg-indigo-700 rounded-md p-4 text-gray-50 border-b mt-5">
                    <div class="animate-pulse">
                        <div class="basis-1/2 mb-2">
                            <img src="/assets/img/web2.png" width="200" style="margin: 0 auto;" alt="">
                        </div>
                        <div class="basis-1/2 mb-5 pb-2">
                            <div class="inner_div ">
                                <p class="font-semibold text-xl uppercase"><span class="text-primary">200% </span>Welcome
                                    Bonus up </p>
                                <ul class="features mt-3">
                                    <li class="text-sm mb-1"><i class="fa-solid fa-circle-check text-primary mr-2 "></i>
                                        Refreshingly Simple Mobile First Casino</li>
                                    <li class="text-sm mb-1"><i class="fa-solid fa-circle-check text-primary mr-2 "></i>
                                        Tournaments & Prizes</li>
                                    <li class="text-sm mb-1"><i class="fa-solid fa-circle-check text-primary mr-2 "></i>
                                        Weekly Live Casino Reload Bonus</li>
                                </ul>
                            </div>
                        </div>
                        <div class="basis-1/2 text-center">
                            <a  href="/" class="primary-btn px-10 py-3 text-sm uppercase font-semibold rounded-md bg-button ">Bet Now</a>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>



 



    </div>
</div>