<section class="gs_hero">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <div class="swiper swiper_banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="inner_swiper">
                        <img src="https://res.cloudinary.com/dnagrjvtq/image/upload/v1735042581/slide-1_pidrcr.jpg"
                            alt="">
                        <div class="content_div">
                            <div class="title  link" routerLink="/blog/australia-v-india-second-test-expert-predictions-and-analysis" >He made his passenger captain of one</div>
                            <p>She gave my mother such a turn, that I have always been convinced I am indebted to Miss
                                Betsey for having been born on a Friday. The word was appropriate to the moment.</p>
                            <button
                                class="p-2 rounded-sm bg-button text-gray-900 font-semibold font-medium text-sm">Read
                                More</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="inner_swiper">
                        <img src="https://res.cloudinary.com/dnagrjvtq/image/upload/v1735042581/slide-2_tph7lo.jpg"
                            alt="">
                        <div class="content_div">
                            <div class="title link" routerLink="/blog/australia-v-india-second-test-expert-predictions-and-analysis">He made his passenger captain of one</div>
                            <p>She gave my mother such a turn, that I have always been convinced I am indebted to Miss
                                Betsey for having been born on a Friday. The word was appropriate to the moment.</p>
                            <button
                                class="p-2 rounded-sm bg-button text-gray-900 font-semibold font-medium text-sm">Read
                                More</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="inner_swiper">
                        <img src="https://res.cloudinary.com/dnagrjvtq/image/upload/v1735042582/slide-3_td2nte.jpg"
                            alt="">
                        <div class="content_div">
                            <div class="title link" routerLink="/blog/australia-v-india-second-test-expert-predictions-and-analysis">He made his passenger captain of one</div>
                            <p>She gave my mother such a turn, that I have always been convinced I am indebted to Miss
                                Betsey for having been born on a Friday. The word was appropriate to the moment.</p>
                            <button
                                class="p-2 rounded-sm bg-button text-gray-900 font-semibold font-medium text-sm">Read
                                More</button>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>

        </div>
    </div>
</section>



<section class="gs_features">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <div class="flex flex-row w-full gap-x-6">
            <div class="basis-1/4 md:basis-1/3">
                <div class="inner_ion px-7 py-4">
                    <img src="https://res.cloudinary.com/dnagrjvtq/image/upload/v1735047631/icon-mouse_uozgii.svg"
                        alt="">
                    <div class="right_side">
                        <div class="name text-secondary font-bold text-lg">PC</div>
                        <div class="details text-primary  font-bold text-lg"><a href="#">VIEW GAMES</a></div>
                    </div>
                </div>
            </div>
            <div class="basis-1/4 md:basis-1/3">
                <div class="inner_ion px-7 py-4">
                    <img src="https://res.cloudinary.com/dnagrjvtq/image/upload/v1735047631/icon-gamepad_il7zam.svg"
                        alt="">
                    <div class="right_side">
                        <div class="name text-secondary font-bold text-lg">
                            PS4</div>
                        <div class="details text-primary  font-bold text-lg"><a href="#">VIEW GAMES</a></div>
                    </div>
                </div>
            </div>
            <div class="basis-1/4 md:basis-1/3">
                <div class="inner_ion px-7 py-4">
                    <img src="https://res.cloudinary.com/dnagrjvtq/image/upload/v1735047631/icon-mouse_uozgii.svg"
                        alt="">
                    <div class="right_side">
                        <div class="name text-secondary font-bold text-lg">
                            Xbox</div>
                        <div class="details text-primary  font-bold text-lg"><a href="#">VIEW GAMES</a></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<section class="gs_latest_post mt-5">
    <div class="max-w-screen-xl items-center justify-between mx-auto p-4">


        <div class="d_f_latest_post pt-5">

            <div class="post-sinner">

                <!-- latest  post -->
                <div class="section-title mb-5">
                    <h2 class="text-secondary title text-2xl font-bold uppercase"><span
                            class="before"></span><span><span class="text-primary">Latest</span> Posts</span> <span
                            class="after"></span></h2>
                </div>
                <div class="latest_post_swiper swiper ">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="inner-post">
                                <img src="https://res.cloudinary.com/dnagrjvtq/image/upload/v1735202033/post-2_v85wig.jpg"
                                    alt="">

                                <div class="inner-body">
                                    <div class="title text-secondary uppercase text-xl font-bold link" routerLink="/blog/australia-v-india-second-test-expert-predictions-and-analysis">
                                        He made his passenger captain of one
                                    </div>

                                    <div class="flex flex-wrap items-center gap-2 text-xs my-4">
                                        <img src="/assets/img/avatar-3.jpg" alt="Wolfenstein" class="rounded-full"
                                            width="35"> by
                                        <span class="text-primary font-semibold">Admin</span>
                                        in Jul 23, 2018

                                    </div>
                                    <p class="text-sm mb-5">Just then her head struck against the roof of the hall: in
                                        fact she was now more than nine feet high, and she at once took up the little
                                        golden key and hurried off to the garden door...</p>
                                    <button
                                        class="secondary-btn px-5 py-2 text-xs uppercase font-semibold rounded-md">Read
                                        More</button>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="inner-post">
                                <img src="https://res.cloudinary.com/dnagrjvtq/image/upload/v1735202033/post-2_v85wig.jpg"
                                    alt="">

                                <div class="inner-body">
                                    <div class="title text-secondary uppercase text-xl font-bold link" routerLink="/blog/australia-v-india-second-test-expert-predictions-and-analysis">
                                        At first, for some time, I was not able to answer
                                    </div>

                                    <div class="flex flex-wrap items-center gap-2 text-xs my-4">
                                        <img src="/assets/img/avatar-3.jpg" alt="Wolfenstein" class="rounded-full"
                                            width="35"> by
                                        <span class="text-primary font-semibold">Admin</span>
                                        in Jul 23, 2018

                                    </div>
                                    <p class="text-sm mb-5">This little wandering journey, without settled place of
                                        abode, had been so unpleasant to me, that my own house, as I called it to
                                        myself, was a perfect settlement to me compared to that...</p>
                                    <button
                                        class="secondary-btn px-5 py-2 text-xs uppercase font-semibold rounded-md">Read
                                        More</button>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="swiper-pagination"></div>
                </div>


                <!-- latest  match -->
                <div class="section-title mb-5 mt-8">
                    <h2 class="text-secondary title text-2xl font-bold uppercase"><span
                            class="before"></span><span><span class="text-primary">Latest</span> Matches</span> <span
                            class="after"></span></h2>
                </div>

                <!-- live match -->
                <div class="live-match-div p-3 rounded-md" style="background-color: #f8ffe4;">
                    <button class="secondary-btn px-5 py-2 text-xs uppercase font-semibold rounded-md "
                        style="color: greenyellow">Now Playing</button>
                    <div class="inner-div">
                        <div class="match-title text-black text-lg mb-5 text-center font-bold">Australia vs
                            India, 4th Test </div>
                        <div class="flex flex-row justify-center">
                            <div class="basis-1/3 text_center"><img src="/assets/img/team_flag1.jpg" alt=""></div>
                            <div class="basis-1/4 text_center"><span class="vs">VS</span></div>
                            <div class="basis-1/3 text_center"><img src="/assets/img/team_flag2.jpg" alt=""></div>
                        </div>
                        <div class="match-info ">
                            <p class="mb-1 mt-5 text-center text-black font-semibold text-sm"> Melbourne Cricket Ground,
                                Melbourne
                            </p>
                            <p class="text-center text-black font-semibold text-xs">Dec 26-Dec 30, 10:30 AM LOCAL</p>
                        </div>
                        <div class="text-center mt-3">
                            <button
                                class="primary-btn px-5 py-2 text-xs uppercase font-semibold rounded-md bg-button">Match
                                Details <i class="fa-solid fa-caret-right"></i></button>
                        </div>

                    </div>
                </div>

                <!-- one -->
                <div class="live-match-div rounded-md bg-secondary mt-4 py-5">

                    <div class="inner-div upcomming">
                        <!-- <div class="match-title text-secondary text-sm mb-1 text-center font-semibold">Australia vs
                            India, 4th Test </div> -->
                        <div class="flex justify-center" style="align-items: center;">
                            <div class="basis-1/3 flex justify-start gap-2" style="align-items: center;"><img
                                    src="/assets/img/team_flag1.jpg" alt=""> <span
                                    class="text-lg uppercase font-semibold text-gray-50">India</span> </div>
                            <div class="basis-1/4">
                                <div class="text-center">
                                    <span class="vs_up text-gray-50 font-bold">VS</span>
                                    <div class="match-info text-center mt-3">

                                        <p class="text-center text-gray-200 text-xs mb-2">Dec 26-Dec 30, 10:30 AM LOCAL
                                        </p>
                                        <span class="primary-btn px-5 py-2 text-sm uppercase font-semibold rounded-md ">
                                            <i class="fa-regular fa-clock"></i> 01:30 </span>
                                    </div>
                                </div>
                            </div>
                            <div class="basis-1/3 flex justify-end  gap-2" style="align-items: center;"><span
                                    class="text-lg uppercase font-semibold text-gray-50">Australia</span> <img
                                    src="/assets/img/team_flag2.jpg" alt=""></div>
                        </div>


                    </div>
                </div>

                <!-- two -->
                <div class="live-match-div rounded-md bg-secondary mt-4 py-5">

                    <div class="inner-div upcomming">
                        <!-- <div class="match-title text-secondary text-sm mb-1 text-center font-semibold">Australia vs
                            India, 4th Test </div> -->
                        <div class="flex justify-center" style="align-items: center;">
                            <div class="basis-1/3 flex justify-start gap-2" style="align-items: center;"><img
                                    src="/assets/img/team_flag1.jpg" alt=""> <span
                                    class="text-lg uppercase font-semibold text-gray-50">Shri lanka</span> </div>
                            <div class="basis-1/4">
                                <div class="text-center">
                                    <span class="vs_up text-gray-50 font-bold">VS</span>
                                    <div class="match-info text-center mt-3">

                                        <p class="text-center text-gray-200 text-xs mb-2">Dec 26-Dec 30, 10:30 AM LOCAL
                                        </p>
                                        <span class="primary-btn px-5 py-2 text-sm uppercase font-semibold rounded-md ">
                                            <i class="fa-regular fa-clock"></i> 01:30 </span>
                                    </div>
                                </div>
                            </div>
                            <div class="basis-1/3 flex justify-end  gap-2" style="align-items: center;"><span
                                    class="text-lg uppercase font-semibold text-gray-50">Bangladesh</span> <img
                                    src="/assets/img/team_flag2.jpg" alt=""></div>
                        </div>


                    </div>
                </div>

                <!-- three -->
                <div class="live-match-div rounded-md bg-secondary mt-4 py-5">

                    <div class="inner-div upcomming">
                        <!-- <div class="match-title text-secondary text-sm mb-1 text-center font-semibold">Australia vs
                            India, 4th Test </div> -->
                        <div class="flex justify-center" style="align-items: center;">
                            <div class="basis-1/3 flex justify-start gap-2" style="align-items: center;"><img
                                    src="/assets/img/team_flag1.jpg" alt=""> <span
                                    class="text-lg uppercase font-semibold text-gray-50">India</span> </div>
                            <div class="basis-1/4">
                                <div class="text-center">
                                    <span class="vs_up text-gray-50 font-bold">VS</span>
                                    <div class="match-info text-center mt-3">

                                        <p class="text-center text-gray-200 text-xs mb-2">Dec 26-Dec 30, 10:30 AM LOCAL
                                        </p>
                                        <span class="primary-btn px-5 py-2 text-sm uppercase font-semibold rounded-md ">
                                            <i class="fa-regular fa-clock"></i> 01:30 </span>
                                    </div>
                                </div>
                            </div>
                            <div class="basis-1/3 flex justify-end  gap-2" style="align-items: center;"><span
                                    class="text-lg uppercase font-semibold text-gray-50">Australia</span> <img
                                    src="/assets/img/team_flag2.jpg" alt=""></div>
                        </div>


                    </div>
                </div>


                <!-- four -->
                <div class="live-match-div rounded-md bg-secondary mt-4 py-5">

                    <div class="inner-div upcomming">
                        <!-- <div class="match-title text-secondary text-sm mb-1 text-center font-semibold">Australia vs
                            India, 4th Test </div> -->
                        <div class="flex justify-center" style="align-items: center;">
                            <div class="basis-1/3 flex justify-start gap-2" style="align-items: center;"><img
                                    src="/assets/img/team_flag1.jpg" alt=""> <span
                                    class="text-lg uppercase font-semibold text-gray-50">India</span> </div>
                            <div class="basis-1/4">
                                <div class="text-center">
                                    <span class="vs_up text-gray-50 font-bold">VS</span>
                                    <div class="match-info text-center mt-3">

                                        <p class="text-center text-gray-200 text-xs mb-2">Dec 26-Dec 30, 10:30 AM LOCAL
                                        </p>
                                        <span class="primary-btn px-5 py-2 text-sm uppercase font-semibold rounded-md ">
                                            <i class="fa-regular fa-clock"></i> 01:30 </span>
                                    </div>
                                </div>
                            </div>
                            <div class="basis-1/3 flex justify-end  gap-2" style="align-items: center;"><span
                                    class="text-lg uppercase font-semibold text-gray-50">Australia</span> <img
                                    src="/assets/img/team_flag2.jpg" alt=""></div>
                        </div>


                    </div>
                </div>

                <!-- five -->
                <div class="live-match-div rounded-md bg-secondary mt-4 py-5">

                    <div class="inner-div upcomming">
                        <!-- <div class="match-title text-secondary text-sm mb-1 text-center font-semibold">Australia vs
                            India, 4th Test </div> -->
                        <div class="flex justify-center" style="align-items: center;">
                            <div class="basis-1/3 flex justify-start gap-2" style="align-items: center;"><img
                                    src="/assets/img/team_flag1.jpg" alt=""> <span
                                    class="text-lg uppercase font-semibold text-gray-50">India</span> </div>
                            <div class="basis-1/4">
                                <div class="text-center">
                                    <span class="vs_up text-gray-50 font-bold">VS</span>
                                    <div class="match-info text-center mt-3">

                                        <p class="text-center text-gray-200 text-xs mb-2">Dec 26-Dec 30, 10:30 AM LOCAL
                                        </p>
                                        <span class="primary-btn px-5 py-2 text-sm uppercase font-semibold rounded-md ">
                                            <i class="fa-regular fa-clock"></i> 01:30 </span>
                                    </div>
                                </div>
                            </div>
                            <div class="basis-1/3 flex justify-end  gap-2" style="align-items: center;"><span
                                    class="text-lg uppercase font-semibold text-gray-50">Australia</span> <img
                                    src="/assets/img/team_flag2.jpg" alt=""></div>
                        </div>


                    </div>
                </div>


                <!-- best selling -->
                <div class="best-selling">
                    <div class="section-title mb-5 mt-8">
                        <h2 class="text-secondary title text-2xl font-bold uppercase"><span
                                class="before"></span><span><span class="text-primary">Best</span> Selling</span> <span
                                class="after"></span></h2>
                    </div>

                    <div class="flex gap-5">
                        <div class="basis-1/2 flex  gap-2" style="align-items: center;">
                            <div class="product_d_flex ">
                                <div class="image_div ">
                                    <img class="rounded-md" src="/assets/img/gallery-3-thumb.jpg" alt="">
                                </div>
                                <div class="right_side_div">
                                    <div class="product-title text-gray-50 text-llg uppercase font-bold">
                                        She gave my mother
                                    </div>
                                    <div class="star flex text-red-600 text-lg gap-2 my-3">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    <div class="price  text-gray-50 text-lg my-4 uppercase font-bold">₹1200</div>
                                    <button
                                        class="primary-btn px-5 py-2 text-xs uppercase font-semibold rounded-md bg-button">Add
                                        to Cart</button>
                                </div>
                            </div>
                        </div>
                        <!-- two -->
                        <div class="basis-1/2 flex  gap-2" style="align-items: center;">
                            <div class="product_d_flex ">
                                <div class="image_div ">
                                    <img class="rounded-md" src="/assets/img/gallery-1-thumb.jpg" alt="">
                                </div>
                                <div class="right_side_div">
                                    <div class="product-title text-gray-50 text-llg uppercase font-bold">
                                        A hundred thousand
                                    </div>
                                    <div class="star flex text-red-600 text-lg gap-2 my-3">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    <div class="price  text-gray-50 text-lg my-4 uppercase font-bold">₹1200</div>
                                    <button
                                        class="primary-btn px-5 py-2 text-xs uppercase font-semibold rounded-md bg-button">Add
                                        to Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="flex gap-5 mt-8">
                        <!-- three -->
                        <div class="basis-1/2 flex  gap-2" style="align-items: center;">
                            <div class="product_d_flex ">
                                <div class="image_div ">
                                    <img class="rounded-md" src="/assets/img/gallery-5-thumb.jpg" alt="">
                                </div>
                                <div class="right_side_div">
                                    <div class="product-title text-gray-50 text-llg uppercase font-bold">
                                        A hundred thousand
                                    </div>
                                    <div class="star flex text-red-600 text-lg gap-2 my-3">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    <div class="price  text-gray-50 text-lg my-4 uppercase font-bold">₹1200</div>
                                    <button
                                        class="primary-btn px-5 py-2 text-xs uppercase font-semibold rounded-md bg-button">Add
                                        to Cart</button>
                                </div>
                            </div>
                        </div>


                        <!-- four -->
                        <div class="basis-1/2 flex  gap-2" style="align-items: center;">
                            <div class="product_d_flex ">
                                <div class="image_div ">
                                    <img class="rounded-md" src="/assets/img/gallery-6-thumb.jpg" alt="">
                                </div>
                                <div class="right_side_div">
                                    <div class="product-title text-gray-50 text-llg uppercase font-bold">
                                        A hundred thousand
                                    </div>
                                    <div class="star flex text-red-600 text-lg gap-2 my-3">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    <div class="price  text-gray-50 text-lg my-4 uppercase font-bold">₹1200</div>
                                    <button
                                        class="primary-btn px-5 py-2 text-xs uppercase font-semibold rounded-md bg-button">Add
                                        to Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
            <div class="right-side ">
                <div class="bg-secondary rounded-md">
                    <div class="section-title mb-5">
                        <h5 class="pt-5 pl-3 text-secondary title text-lg font-bold uppercase"><span
                                class="before"></span><span><span class="text-primary">We</span> Are Social</span> <span
                                class="after"></span></h5>
                    </div>


                    <div class="flex flex-row flex-wrap social">
                        <div class="basis-1/4 so"><span class="even"><i class="fa-brands fa-instagram"></i></span></div>
                        <div class="basis-1/4 so"><span class="odd"><i class="fa-brands fa-telegram"></i></span></div>
                        <div class="basis-1/4 so"><span class="even"><i class="fa-brands fa-facebook"></i></span></div>
                        <div class="basis-1/4 so"><span class="odd"><i class="fa-brands fa-twitter"></i></span></div>

                    </div>
                </div>

                <div class="bg-secondary rounded-md mt-5">
                    <div class="section-title mb-5">
                        <h5 class="pt-5 pl-3 text-secondary title text-lg font-bold uppercase"><span
                                class="before"></span><span><span class="text-primary">Latest</span> Video</span> <span
                                class="after"></span></h5>
                    </div>


                    <iframe src="https://www.youtube.com/embed/vXy8UBazlO8?si=0G14z-aim5TpAcVN"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>

                <!-- Top 3 recent -->
                <div class="bg-secondary rounded-md mt-5">
                    <div class="section-title mb-5">
                        <h5 class="pt-5 pl-3 text-secondary title text-lg font-bold uppercase"><span
                                class="before"></span><span><span class="text-primary">Top 3</span> Recents</span> <span
                                class="after"></span></h5>
                    </div>

                    <div class="top_3_recent">
                        <div class="flex gap-5 p-4">
                            <div class="basis-1/3">
                                <img src="/assets/img/post-1-sm.jpg" class="rounded-md" alt="">
                            </div>
                            <div class="basis-1/2">
                                <h3 class="text-gray-50 font-bold text-md uppercase pr-2 link" routerLink="/blog/australia-v-india-second-test-expert-predictions-and-analysis">Smell magic in the
                                    air. Or maybe barbecue</h3>
                                <p class="text-xs mt-4 text-gray-400 font-semibold"> <i
                                        class="fa-solid fa-calendar-days"></i> Sep 18, 2018</p>
                            </div>
                        </div>

                        <!-- two -->
                        <div class="flex gap-5 p-4">
                            <div class="basis-1/3">
                                <img src="/assets/img/post-2-sm.jpg" class="rounded-md" alt="">
                            </div>
                            <div class="basis-1/2">
                                <h3  class="text-gray-50 font-bold text-md uppercase pr-2  link" routerLink="/blog/australia-v-india-second-test-expert-predictions-and-analysis">Grab your sword and
                                    fight the Horde</h3>
                                <p class="text-xs mt-4 text-gray-400 font-semibold"> <i
                                        class="fa-solid fa-calendar-days"></i> Sep 18, 2018</p>
                            </div>
                        </div>

                        <!-- three -->
                        <div class="flex gap-5 p-4">
                            <div class="basis-1/3">
                                <img src="/assets/img/post-3-sm.jpg" class="rounded-md" alt="">
                            </div>
                            <div class="basis-1/2">
                                <h3 class="text-gray-50 font-bold text-md uppercase pr-2 link" routerLink="/blog/australia-v-india-second-test-expert-predictions-and-analysis">We found a witch! May
                                    we burn her?</h3>
                                <p class="text-xs mt-4 text-gray-400 font-semibold"> <i
                                        class="fa-solid fa-calendar-days"></i> Sep 18, 2018</p>
                            </div>
                        </div>


                    </div>

                </div>


                <!-- latest screenshot -->
                <div class="bg-secondary rounded-md mt-5">
                    <div class="section-title mb-5">
                        <h5 class="pt-5 pl-3 text-secondary title text-lg font-bold uppercase"><span
                                class="before"></span><span><span class="text-primary">Latest</span> Screenshot</span>
                            <span class="after"></span>
                        </h5>
                    </div>
                    <div class="recent_screenshot">
                        <div class="flex gap-5 p-4">
                            <div class="basis-1/2">
                                <a href="#"><img src="/assets/img/gallery-1-thumb.jpg" class="rounded-md" alt=""></a>
                            </div>
                            <div class="basis-1/2">
                                <a href="#"><img src="/assets/img/gallery-2-thumb.jpg" class="rounded-md" alt=""></a>
                            </div>
                        </div>

                        <!-- two -->
                        <div class="flex gap-5 p-4">
                            <div class="basis-1/2">
                                <a href="#"><img src="/assets/img/gallery-3-thumb.jpg" class="rounded-md" alt=""></a>
                            </div>
                            <div class="basis-1/2">
                                <a href="#"><img src="/assets/img/gallery-4-thumb.jpg" class="rounded-md" alt=""></a>
                            </div>
                        </div>

                        <!-- three -->
                        <div class="flex gap-5 p-4">
                            <div class="basis-1/2">
                                <a href="#"><img src="/assets/img/gallery-5-thumb.jpg" class="rounded-md" alt=""></a>
                            </div>
                            <div class="basis-1/2">
                                <a href="#"><img src="/assets/img/gallery-6-thumb.jpg" class="rounded-md" alt=""></a>
                            </div>
                        </div>

                    </div>
                </div>


                <!-- most popular -->
                <div class="bg-secondary rounded-md mt-5">
                    <div class="section-title mb-5">
                        <h5 class="pt-5 pl-3 text-secondary title text-lg font-bold uppercase"><span
                                class="before"></span><span><span class="text-primary">most</span> Popular</span>
                            <span class="after"></span>
                        </h5>
                    </div>

                    <div class="most-popular">

                        <div class="product_d_flex p-4">
                            <div class="image_div ">
                                <img class="rounded-md" src="/assets/img/gallery-4-thumb.jpg" alt="">
                            </div>
                            <div class="right_side_div">
                                <div class="product-title text-gray-50 text-llg uppercase font-bold">
                                    So saying he unbuckled
                                </div>
                                <div class="star flex text-red-600 text-md gap-2 my-3">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <div class="price  text-gray-50 text-md my-4 uppercase font-bold">₹1000</div>
                            </div>
                        </div>

                        <!-- two -->
                        <div class="product_d_flex p-4">
                            <div class="image_div ">
                                <img class="rounded-md" src="/assets/img/gallery-2-thumb.jpg" alt="">
                            </div>
                            <div class="right_side_div">
                                <div class="product-title text-gray-50 text-llg uppercase font-bold">
                                    However, I have reason
                                </div>
                                <div class="star flex text-red-600 text-md gap-2 my-3">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <div class="price  text-gray-50 text-md my-4 uppercase font-bold">₹900</div>
                            </div>
                        </div>

                        <!-- three -->
                        <div class="product_d_flex p-4">
                            <div class="image_div ">
                                <img class="rounded-md" src="/assets/img/gallery-6-thumb.jpg" alt="">
                            </div>
                            <div class="right_side_div">
                                <div class="product-title text-gray-50 text-llg uppercase font-bold">
                                    It was some time before
                                </div>
                                <div class="star flex text-red-600 text-md gap-2 my-3">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <div class="price  text-gray-50 text-md my-4 uppercase font-bold">₹1100</div>
                            </div>
                        </div>
                    </div>


                </div>


            </div>
        </div>

    </div>
</section>

