<section class="gs_hero">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="inner_swiper">
                    <img src="https://res.cloudinary.com/dnagrjvtq/image/upload/v1735042581/slide-1_pidrcr.jpg" alt="">
                    <div class="content_div">
                        <div class="title">He made his passenger captain of one</div>
                        <p>She gave my mother such a turn, that I have always been convinced I am indebted to Miss Betsey for having been born on a Friday. The word was appropriate to the moment.</p>
                        <button class="p-2 rounded-sm bg-gray-100 text-gray-900 font-semibold font-medium text-sm">Read More</button>
                    </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="inner_swiper">
                    <img src="https://res.cloudinary.com/dnagrjvtq/image/upload/v1735042581/slide-2_tph7lo.jpg" alt="">
                    <div class="content_div">
                        <div class="title">He made his passenger captain of one</div>
                        <p>She gave my mother such a turn, that I have always been convinced I am indebted to Miss Betsey for having been born on a Friday. The word was appropriate to the moment.</p>
                        <button class="p-2 rounded-sm bg-gray-100 text-gray-900 font-semibold font-medium text-sm">Read More</button>
                    </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="inner_swiper">
                    <img src="https://res.cloudinary.com/dnagrjvtq/image/upload/v1735042582/slide-3_td2nte.jpg" alt="">
                    <div class="content_div">
                        <div class="title">He made his passenger captain of one</div>
                        <p>She gave my mother such a turn, that I have always been convinced I am indebted to Miss Betsey for having been born on a Friday. The word was appropriate to the moment.</p>
                        <button class="p-2 rounded-sm bg-gray-100 text-gray-900 font-semibold font-medium text-sm">Read More</button>
                    </div>
                </div>
              </div>
              
            </div>
            <!-- Add Pagination -->
            <!-- <div class="swiper-pagination"></div> -->
            <!-- Add Navigation -->
            <!-- <div class="swiper-button-prev"></div> -->
            <!-- <div class="swiper-button-next"></div> -->
          </div>
    </div>
</section>

<section class="gs_features">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <div class="flex flex-row w-full">
            <div class="basis-1/4 md:basis-1/3">
                <div class="inner_ion">
                    <img src="https://res.cloudinary.com/dnagrjvtq/image/upload/v1735047631/icon-mouse_uozgii.svg" alt="">
                    <div class="right_side">
                        <div class="name">PC</div>
                        <div class="details">VIEW GAMES</div>
                    </div>
                </div>
            </div>
            <div class="basis-1/4 md:basis-1/3">02</div>
            <div class="basis-1/2 md:basis-1/3">03</div>
          </div>
    </div>
</section>




