<div class="max-w-screen-xl items-center justify-between mx-auto p-4">
    <app-hero-section [title]="title"></app-hero-section>

    <div class="gs_all_blogs py-16">
        <h2 class="text-center text-primary font-semibold mb-2"># Welcome to The eSports & Gaming Site</h2>
        <div class="section-title mb-10">
            <h2 class="text-secondary text-center text-3xl font-bold uppercase"><span>Check Letest Blogs5</span> </h2>
        </div>


        <!-- all blogs -->
         
        <div class="flex gap-10 gap-y-10 mb-10">
            <div class="basis-1/2">
                <div class="inner-post">
                    <img class="rounded-xl" src="https://res.cloudinary.com/dnagrjvtq/image/upload/v1735202033/post-2_v85wig.jpg"
                        alt="">

                    <div class="inner-body">
                        <div class="title text-secondary uppercase text-xl font-bold mt-5">
                            He made his passenger captain of one
                        </div>

                        <div class="flex flex-wrap items-center gap-2 text-xs my-4 text-gray-400">
                            <img src="/assets/img/avatar-3.jpg" alt="Wolfenstein" class="rounded-full"
                                width="35"> by
                            <span class="text-primary font-semibold">Admin</span>
                            in Jul 23, 2018

                        </div>
                        <p class="text-sm text-gray-300 mb-5">Just then her head struck against the roof of the hall: in
                            fact she was now more than nine feet high, and she at once took up the little
                            golden key and hurried off to the garden door...</p>
                        <button
                            class="secondary-btn px-5 py-2 text-xs uppercase font-semibold rounded-md">Read
                            More</button>
                    </div>
                </div>
            </div>


            <div class="basis-1/2">
                <div class="inner-post">
                    <img class="rounded-xl" src="https://res.cloudinary.com/dnagrjvtq/image/upload/v1735202033/post-2_v85wig.jpg"
                        alt="">

                    <div class="inner-body">
                        <div class="title text-secondary uppercase text-xl font-bold mt-5">
                            He made his passenger captain of one
                        </div>

                        <div class="flex flex-wrap items-center gap-2 text-xs my-4 text-gray-400">
                            <img src="/assets/img/avatar-3.jpg" alt="Wolfenstein" class="rounded-full"
                                width="35"> by
                            <span class="text-primary font-semibold">Admin</span>
                            in Jul 23, 2018

                        </div>
                        <p class="text-sm text-gray-300 mb-5">Just then her head struck against the roof of the hall: in
                            fact she was now more than nine feet high, and she at once took up the little
                            golden key and hurried off to the garden door...</p>
                        <button
                            class="secondary-btn px-5 py-2 text-xs uppercase font-semibold rounded-md">Read
                            More</button>
                    </div>
                </div>
            </div>


        </div>

        <!-- two -->
        <div class="flex gap-10 gap-y-10 mb-10">
            <div class="basis-1/2">
                <div class="inner-post">
                    <img class="rounded-xl" src="https://res.cloudinary.com/dnagrjvtq/image/upload/v1735202033/post-2_v85wig.jpg"
                        alt="">

                    <div class="inner-body">
                        <div class="title text-secondary uppercase text-xl font-bold mt-5">
                            He made his passenger captain of one
                        </div>

                        <div class="flex flex-wrap items-center gap-2 text-xs my-4 text-gray-400">
                            <img src="/assets/img/avatar-3.jpg" alt="Wolfenstein" class="rounded-full"
                                width="35"> by
                            <span class="text-primary font-semibold">Admin</span>
                            in Jul 23, 2018

                        </div>
                        <p class="text-sm text-gray-300 mb-5">Just then her head struck against the roof of the hall: in
                            fact she was now more than nine feet high, and she at once took up the little
                            golden key and hurried off to the garden door...</p>
                        <button
                            class="secondary-btn px-5 py-2 text-xs uppercase font-semibold rounded-md">Read
                            More</button>
                    </div>
                </div>
            </div>


            <div class="basis-1/2">
                <div class="inner-post">
                    <img class="rounded-xl" src="https://res.cloudinary.com/dnagrjvtq/image/upload/v1735202033/post-2_v85wig.jpg"
                        alt="">

                    <div class="inner-body">
                        <div class="title text-secondary uppercase text-xl font-bold mt-5">
                            He made his passenger captain of one
                        </div>

                        <div class="flex flex-wrap items-center gap-2 text-xs my-4 text-gray-400">
                            <img src="/assets/img/avatar-3.jpg" alt="Wolfenstein" class="rounded-full"
                                width="35"> by
                            <span class="text-primary font-semibold">Admin</span>
                            in Jul 23, 2018

                        </div>
                        <p class="text-sm text-gray-300 mb-5">Just then her head struck against the roof of the hall: in
                            fact she was now more than nine feet high, and she at once took up the little
                            golden key and hurried off to the garden door...</p>
                        <button
                            class="secondary-btn px-5 py-2 text-xs uppercase font-semibold rounded-md">Read
                            More</button>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>